.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 100%;
    padding: 25px;
    display: flex;

    .logo {
      width: 100px;
      float: left;
      padding: 0px 20px;
    }

    .logo-title {
      height: max-content;
      font-size: 36px;
      font-weight: bold;
      color: rgb(37, 37, 37);
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
